*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    display: flex;
    height: 100vh;
	width: 100vw;
    align-items: center;
    justify-content: center;
	background: linear-gradient(360deg, rgba(235,201,255,1) 24%, rgba(214,0,245,0.5011600928074246) 85%);
    background-color: rgb(235, 201, 255);
	overflow-x: hidden;
	overflow-y: hidden;
}
.glass{
	position:absolute;
    background-color: rgba(99, 99, 99, 0.3);
    height: 35vh;min-height: 200px;
    width: 55vw;min-width: 350px;max-width: 900px;
    margin-top: 30vh;
	margin-left: 2vh;
	margin-right: 2vh;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 130px rgba(0, 0, 0, 0.4);
    border: 3px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
    animation: fadeInG 1s ease-in forwards;
}
.bttn{
    display:flex;
    margin: 2vh auto;
	margin-top: 5vh;
    justify-content: center;
    gap: 9vw;
	bottom: 1vh;
}
button{
    font-size: medium;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    padding: 15px 50px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(55px);
    border: solid 1px rgba(245, 245, 245, 0.7);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    color: white;
}
.bttn button{
	animation: fadeIn 4s ease forwards;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.349);
}
.p1t1{
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    font-size: larger;
    text-align: center;
    font-family:cursive;
	margin-bottom: 1vh ;
    animation: fadeIn 4s ease forwards;
	
}
.t2{
	display: block;
	width: auto;max-width: 45vh;
	min-height: 10vh;
	margin: 0 auto;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    font-size: larger;
    text-align: center;
    font-family:cursive;
}
.image1{
	position: absolute;
	display: block;
	margin: 0 auto;
	height: 30vh;min-height: 200px;
	width: 20vw;min-width: 150px;
	top: 10vh;
	border-radius: 13px;
	box-shadow: 2px 2px 5px black;
	animation: fadeInG 4s ease forwards;
	z-index: 0;
}
@keyframes fadeIn {
    20%{
		visibility: visible;
        opacity: 0;
        transform: translateY(200%);
    }
    80%{
        transform: translateY(0);
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fadeInG {
    0%{
        opacity: 0;
        transform: translateY(10%);
    }
    
    100%
    {
        opacity: 1;
    }
}

.fadeOut{
	animation: fadeout 1s ease-in !important;
}
@keyframes fadeout{
	0%{
		opacity: 1;
		transform: translateY(0px);
	}
	50%{
		opacity: 0;
		visibility: hidden;
		transform: translateY(15px);
	}
	100%{
		opacity: 0;
		visibility: hidden;
	}
}.fadeDown{
	animation: fadedown 0.5s ease-in forwards !important;
}
@keyframes fadedown{
	0%{
		opacity: 1;
		transform: translateY(0px);
	}
	50%{
		opacity: 0;
		visibility: hidden;
		transform: translateY(15px);
	}
	100%{
		opacity: 0;
		visibility: hidden;
	}
}
.watermark{
	color: white;
	position: absolute;
	text-align: center;
	top: 90vh;
	left: 90vw;
	backdrop-filter: blur(10px);
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
button:disabled{

	color: rgba(128, 128, 128, 0.164);
	background-color: rgba(128, 128, 128, 0.137);
	border: rgba(128, 128, 128, 0.521);
	}
	.WishPart{
		display: flex;
		justify-content: center;
		color: white;
		font-size:130px;
		text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		text-align: center;
		font-family:cursive;
		padding-bottom: 18vh;
		visibility: hidden;
		
	}
	.WishPart button{
		position: absolute;
		bottom: 18vh;
		background-color: rgba(105, 105, 105, 0.3);
	}
	.WishPart p{
		position: absolute;
		font-size: large;
		bottom: 27vh;
		text-shadow: 0 0 8px black;
		
	}
	.WishPart .MainWish .Tani{
		font-size: 50px !important;
	}
	.HBtext{
		visibility: visible;
   animation: HBin 5s forwards;
	}
	@keyframes HBin {
		0%{ opacity: 0;}
		40%{opacity: 0;}
		100%{opacity: 1;}
		
	}
@media (max-width: 768px){
	body{
		max-height: 100dvh;
		max-width: 100dvw;
		margin: 0;
		overflow-x: hidden;
	    overflow-y: hidden;
	}
	.t2{
		max-width:75vw ;
		margin: 2vh;
	}
	.watermark{
		top: 90lvh;
	left: 80lvw;
	}
	.WishPart{
		font-size: 20vw;
	}
}