body{
    display: flex;
    height: 100vh;
	width: 100vw;
    align-items: center;
    justify-content: center;
	background: linear-gradient(360deg, rgba(235,201,255,1) 24%, rgba(214,0,245,0.5011600928074246) 85%);
    background-color: rgb(235, 201, 255);
	overflow-x: hidden;
	overflow-y: hidden;
    position: relative;
}
.treat{
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    font-size: larger;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
	padding-bottom: 25vh;
}
.treatbox{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -15vh;
}
.treatbox input{
 width: 30vw;min-width: 300px;
 height: 20vh;min-height: 150px;
 border-radius: 10px;
 background-color: rgba(255, 255, 255, 0.274);
 box-shadow: 1px 1px 2px black;
 color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    font-size: larger;
    text-align: center;
}
button{
border-radius: 0 !important;
}
#home{
    display: block;
    margin: 0 auto;
}
#submit{
    display: block;
    margin: 0 auto;
}
.homenext{position: relative;}
.SubmAni{
    animation: Subm 4s forwards ease-out;
}
@keyframes Subm {
    0%{transform: translateY(0); }
    80%{}
    85%{ transform: translateY(-30vh); padding: 15px 50px; font-size:initial;}
    95%{opacity: 1;}
    100%{ transform: translateY(-30vh);padding: 0px 0px ;opacity: 0;
            font-size: 1px;}
}
.circleOut{
    display: flex;
    position: absolute;
    border-radius: 50%;
    border: solid 3px rgba(255, 255, 255, 0.397);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.397);
    z-index: -1;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.171);
}
.CircOut{animation: circOut 2s forwards;visibility: visible;}
@keyframes circOut {
    50%{}
    80%{height: 220vh;width: 220vh;opacity: 1;}
    100%{opacity: 0;height: 220vh;width: 220vh;}
}
.final{
    visibility: hidden;
    position: relative;
    margin: 0 auto;
    bottom: 30vh;
}
.final p{
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    font-size: larger;
    text-align: center;
    font-family:cursive;
    padding-bottom: 5vh;
}
.finalFadein{
    animation: finalFadein 3s 3s forwards;
}
@keyframes finalFadein {
    0%{opacity: 0;visibility: visible;}
    100%{opacity: 1;visibility: visible;transform: translateY(-5vh);}
}